
/* font */
@import url('../font/Lato-Regular.ttf');


div {
  min-height: 1.5em;
}

body {
  line-height: 1.15em;
  font-family: 'Lato', sans-serif;
  color: #343a40;
  background-color: #fff;
}

th {
  min-width: 100px;
  max-width: 30%;
}


/* boxes */
.content-box {
  margin-top:1%;
  margin-bottom:1%;
}

.content-box .content {
  overflow: hidden;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content-box .title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background:#343a40;
  font-size:18px;
  font-weight:bold;
  font-family:verdana;
  color:#fff;
  display:flex;
  padding:10px;
  border: 2px solid #343a40;
  border-bottom:none;
}



/* file inputs */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.inputfile + label, button {
  background-color: #343a40; 
  color: white;
  border-radius: 5px;
  border:2px solid cadetblue;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top:1%;
}

.inputfile:focus + label,
.inputfile + label:hover, button:hover {
  color: whitesmoke;
  filter: brightness(85%);
}
