/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

/* {
  color: #333447;
  line-height: 1.5;
} */

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.mainbar {
  height: 80px;
  width: 100%;
  padding-left: 180px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #282c34;
  font-size: 35px;
  color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 20px;
  display: block;
}

.sidenav {
  height: 100%;
  width: 160px;
  padding-top: 110px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #21252b;
  overflow-x: hidden;
}


/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #c1c2c4;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-top: 100px; /* Same as the width of the sidebar */
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


